{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: white;
        }
    </style>
    <h2>Categories</h2>

    <ul class="list-inline">
        {% for category in categories %}
        <a href="{% url 'listings' category_name=category.category %}">
            <li class="list-inline-item mx-3 my-3">
                <button class="btn btn-dark">{{ category.category }}</button>
            </li> 
        </a>
        {% endfor %}
    </ul>
    
{% endblock %}
