{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="mb-3">Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row mb-3">
            <div class="col-4">
                {{ field }}
            </div>
        </div>

        {% endfor %}
        <input class="btn btn-dark" type="submit" value="Create Listing">
    </form>

{% endblock %}