{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        .form-control{
            border: none;
            border-bottom: 1px #ccc solid;
            border-radius: 0;
            outline: none;
            box-shadow: none;
        }
        .form-control:focus {
            -webkit-appearance: none;
            outline: none;
            box-shadow: none;
            border-color: black;
        }
        .btn{
            background-color: #eee;
            border-radius: 0%;
            border: 1px solid #ccc;
        }
        .btn:hover {
            background-color: #ddd;
        }

    </style>
    <h2 class="mb-3">Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row mb-3">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                {% if field.label == 'Price' %}
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    {{ field }}
                </div>
                {% else %}
                {{ field }}
                {% endif %}
            </div> 
        </div>

        {% endfor %}
        <input class="btn" type="submit" value="Create Listing">
    </form>

{% endblock %}