{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div>
        <a href="{% url 'view_listing' listing_id=listing.id %}"><h4>{{ listing.title }}</h4></a>
        {% if listing.image %}
        <img src="{{ listing.image }}" alt="{{ listing.title }}" width="300px">
        {% endif %}
        <p>Description: {{ listing.description }}</p>
        <p>Current Price: {{ listing.price }}</p>
    </div>
    {% endfor %}
{% endblock %}
