{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        .card {
            border-color: white;
            padding: 1.5rem;
        }
        .card:hover{
            border-color: #ccc;
            text-decoration: none;
            color: black;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .card-img-top {
            height: 15rem;
            object-fit: cover;
            padding-bottom: 1.5rem;
        }
        .card-body {
            border-top: 1px #ccc solid;
        }

    </style>

    {% block heading %}{% endblock %}

        <div class="row justify-content-center">
        {% for listing in listings %}
            <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
                <a href="{% url 'view_listing' listing_id=listing.listing.id %}">
                    <div class="card">
                        {% if listing.listing.image %}
                        <img src="{{ listing.listing.image }}" class="card-img-top" alt="{{ listing.listing.title }}">
                        {% else %}
                        <img src="static/auctions/placeholder.png" class="card-img-top" alt="product image not available">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-title h4">{{ listing.listing.title }}</p>
                            <p class="card-text">
                                <dd class="col-12 text-truncate">{{listing.listing.description}}</dd>
                                <dd class="col-sm-9">${{listing.price}}</dd>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
{% endblock %}
