{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <div class="mb-4">{% block heading %}{% endblock %}</div>
    
    {% if listings %}
        <div class="row justify-content-center">
        {% for listing in listings %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-3">
                <a href="{% url 'view_listing' listing_id=listing.listing.id %}">
                    <div class="card justify-content-center">
                        <div class="image-container">
                            {% if listing.listing.image %}
                                <img src="{{ listing.listing.image }}" class="card-img-top" alt="{{ listing.listing.title }}">
                            {% else %}
                                <img src="{% static 'auctions/unknown.png' %}" class="card-img-top" alt="Placeholder Image">
                            {% endif %}
                            {% if listing.listing.is_active == False %}
                            <div class="overlay">
                                <div class="h5">CLOSED</div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-title h5">{{ listing.listing.title }}</p>
                            <p class="card-text">
                                <p class="col-12 text-truncate">{{ listing.listing.description }}</p>
                                <div class="row">
                                    <ul class="col-6 text-muted list-unstyled">
                                        <li>
                                            <small>
                                            {% if listing.number_of_watchers %} 
                                            watchers
                                            {{ listing.number_of_watchers }}
                                            {% endif %}
                                            </small>
                                        </li>
                                        <li>
                                            <small>
                                            {% if listing.number_of_bids %} 
                                            bids
                                            {{ listing.number_of_bids }}
                                            {% endif %}
                                            </small>
                                        </li>
                                    </ul>
                                    <p class="col-6 h6">${{ listing.price }}</p>
                                </div>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% else %}
    <p class="h5">No listings to display</p>
    {% endif %}
{% endblock %}
