{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-3">Login</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input autofocus class="form-control" type="text" id="Input" name="username" placeholder="Email address" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-8 col-sm-8 col-md-6 col-lg-4">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div> 
        </div>
        <input class="btn mb-3" type="submit" value="Log In">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}