{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="mb-3">Login</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-4">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div> 
        </div>
        <input class="btn btn-primary mb-3" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}