{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5 mb-5 view_listing_column">
        <div id="image-container">
            {% if listing.image %}
            <img src="{{ listing.image }}" class="img-fluid" alt="{{ listing.listing.title }}">
            {% else %}
            <img src="{% static 'auctions/unknown.png' %}" class="img-fluid" alt="Placeholder Image">
            {% endif %}
            {% if listing.is_active == False %}
            <div class="overlay">
                <div class="h5">CLOSED</div>
            </div>
            {% endif %}
        </div>        
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 view_listing_column">
        <p class="h1">{{ listing.title }}</p>
        <hr>
        <p class="mb-5">{{ listing.description }}</p>
        <ul class="list-unstyled">
            <dl class="row">
                <dt class="col-2">Listed by:</dt>
                <dd class="col-10 text-muted h5">{{ listing.owner }}</dd>
                <dt class="col-2">Start Bid:</dt>
                <dd class="col-10 text-muted h5">${{ listing.price }}</dd>
                <dt class="col-2">Current Bid:</dt>
                {% if highest_bid %}
                <dd class="col-10 text-muted h5" >${{ highest_bid.bid }}</dd>
                {% else %}
                <dd class="col-10 text-muted h5">No bids placed</dd>
                {% endif %}
        </ul>
        <div class="row">
            {% if listing.is_active == True %}
            <div class="col-6">
                {% if user != listing.owner %}
                <form action="{% url 'bid' listing_id=listing.id %}" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {% for field in Bidform %}
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    {{ field }}
                                    <input class="btn mx-4" type="submit" value="Bid">
                                </div>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                </form>
                {% else %}
                <form action="{% url 'view_listing' listing_id=listing.id %}" method="post">
                    <div class="form-group mb-3">
                        {% csrf_token %}
                        <input type="hidden" name="close_auction" value="true">
                        <input class="btn" type="submit" value="Close Auction">
                    </div>
                </form>
                {% endif %}
            </div>
            
            <div class="col-6">
                {% if user != listing.owner %}
                {% if not watchlist %}
                <form action="{% url 'add_remove_watchlist' listing_id=listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add">
                    <input class="btn" type="submit" value="Watch">
                </form>
                {% else %}
                <form action="{% url 'add_remove_watchlist' listing_id=listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove">
                    <input class="btn" type="submit" value="Remove">
                </form>
                {% endif %}               
                {% endif %}
            </div>
            {% else %}
                {% if winner and user == winner%}
                <p class="display-6 text-center">You won the auction!</p>
                {% else %}
                <p class="display-6 text-center">Auction has ended</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>
    <h3>Comments</h3>
    {% if listing.is_active == True %}
    <div class="col-sm-12 col-md-5 col-lg-5 view_listing_column">
        <form action="{% url 'add_comment' listing_id=listing.id %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ Commentform }}
                <br>
                <input class="btn" type="submit" value="Post">
            </div>
        </form>
    </div>
    {% endif %}
    <div class="col-sm-12 col-md-7 col-lg-7 view_listing_column">
    {% if comments %}
        {% for comment in comments %}
            {% if comment.user == listing.owner %}
            <div class="d-flex justify-content-end">
                <ul class="list-unstyled">
                    <li><strong>{{ comment.user }}</strong></li>
                    <li><small class="text-muted">{{ comment.date }}</small></li>
                    <li>{{ comment.comment }}</li>
                </ul>
            </div>
            {% else %}
                <div class="d-flex justify-content-start">
                    <ul class="list-unstyled">
                        <li><strong>{{ comment.user }}</strong></li>
                        <li><small class="text-muted">{{ comment.date }}</small></li>
                        <li>{{ comment.comment }}</li>
                    </ul>
                </div>
            {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        <p class="h5">No comments yet.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
